* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(177, 176, 176);
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  h1 {
    border-bottom: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  #searchBar{
    padding: 0.8rem;
    border-color: cadetblue;

  }