:root{
    font-size: 14px;
    font-family: 'Roboto Mono', 'monospace';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-weight: inherit;
    font-size: inherit;
    list-style: none;
    text-decoration: none;
    border: none;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
}

#bg-color button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

#bg-color{
    margin: 1rem !important;
}
#bg-color button img{
    width: 15px;
    height: 10px;
}
#dark {
    background-color: rgb(152, 150, 150);
    color: white
}

.header{
    margin-bottom: 20px;
}

.header .logo{
    font-size: 2rem;
    font-weight:bold
}

.search-form{
    gap: 10px;
    padding: 12px 14px;
    border-radius: 10px;
    background-color: #dab8b8;
    margin-bottom: 20px;
}

.search-form .fa-search{
    font-size:1.3rem;
}

.search-form .keyword{
    width: 100%;
    padding: 8px;
    background-color: transparent;
}

.search-form .btn{
    padding: 8px 12px;
    border-radius: 6px;
    background-color: black;
    color: rgb(212, 173, 173);
    cursor: pointer;
    transition: .4s all ease;
}

.search-form .btn:hover{
    transform: scale(0.95);
}

.user-card{
    background-color: #716d6d;
    border-radius: 10px;
    padding: 30px;
}

.container{
    width: 80%;
}

.d-flex{
    display: flex;
}

.d-flex.between{
    justify-content: space-between;
}

.d-flex.center{
    align-items: center;
}

img{
    width: 100%;
    object-fit: cover;
}

.header .dark-toggle{
    text-transform: uppercase;
    letter-spacing: 5px;
}

.user-card .head{
    margin-bottom: 20px;
}

.user-card .had .sub{
    flex-direction: column;
    -webkit-box-direction: normal;
}

.user-card .head .photo{
    width: 80px;
    border-radius: 50%;
    height: 80px;
    margin-right: 20px;
}

.user-card .head .name{
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.user-card .head .joined{
    margin-top: 8px;
    font-size: .9rem;
}

.user-card .details .card{
    margin-top: 18px;
    padding: 22px;
    background-color: rgb(152, 125, 125);
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: .9rem;
}

.user-card .details .links{
    flex-direction: row;
    -webkit-box-direction: normal;
}

.user-card .details .links li{
    margin-bottom: 12px;
}

.mb-5{
    margin-bottom: 5px;
}

.fw-bold{
    font-weight: bold;
}

.w-100{
    width: 100%;
}