*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background: darkslategrey;
    color: #ffffff;
}

h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
}

form{
    width: 90%;
    max-width:600px;
    margin: auto;
    height: 80px;
    background:  rgb(86, 141, 141);
    display: flex;
    align-items: center;
    border-radius: 8px;
}

form input{
    border: 0;
    outline: 0;
    flex: 1;
    height: 100%;
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    padding: 0 30px;
}

form button{
    padding: 0 40px;
    height: 100%;
    background:  rgb(7, 175, 175);
    color: #ffffff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

::placeholder{
    color: #ffffff;
    font-size: 18px;
}

#showMore{
    border: 0;
    outline: 0;
    color: #ffffff;
    background:  rgb(7, 175, 175);
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}

.searchResult{
    width:80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.searchResult img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}

.searchResult a {
    padding: 10px;
    display: block;
    color: #f9f9f9;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .searchResult:hover a {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  #showMore {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 10px 20px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: none;
  }
  
  .showMore:hover {
    background-color: #0077b5;
  }
  