* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(23, 23, 23);
    color: white;
  }
  
  header {
    border-bottom: 1px solid red;
    border-radius: 10px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 1px 13px black, inset 2px 2px 13px black;
  }
  
  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
  }
  
  form input {
    box-shadow: inset 1px 1px 13px black, inset 2px 2px 13px black;
    width: 100ch;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    color: red;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid red;
  }
  
  form button {
    border: 2px solid rgba(255, 0, 0, 0.373);
    box-shadow: 3px 3px 10px 10px black;
    background-color: transparent;
    color: rgba(255, 0, 0, 0.459);
    padding: 0.5rem 1rem;
    margin: 1rem;
    transition: all 0.1s ease-in-out;
  }
  
  form button:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: red;
    border: 2px solid red;
  }
  
  #cardContainer {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #cardContainer div {
    /* border-bottom: 2px solid red;
      border-right: 2px solid red; */
    margin: 2rem;
    padding: 1rem;
    box-shadow: 3px 3px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: drop-shadow(4px 4px 10px 10px black);
  }
  
  a {
    text-decoration: none;
    color: red;
    padding: 0.8rem 1rem;
    box-shadow: inset 1px 1px 9px black, inset 2px 2px 9px black;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  
  h2 {
    margin-top: 1rem;
  }