body{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.main-container div:not(:first-child){
    padding: 3px;
    text-align: center;
    margin-top: 20px;
}

#circle{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: green;
    box-sizing: border-box;
}

.inner{
    background-color: white;
    position: relative;
    width: 80px;
    height: 80px;
    left: 38px;
    top: 40px;
}

.triangle-bottom{
    background-color: transparent;
    position: relative;
    left: 38px;
    top: 40px;
    width: 0;
    height: 0;
    border-bottom: 75px solid red;
    border-right: 75px solid transparent;
}